name: Coverage
permissions:
  contents: write
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.badges/chore_workflows/coverage.svg'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '.badges/chore_workflows/coverage.svg'

jobs:
  Coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [9.0.x, 10.0.x]   # .NET 9 ve 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Install Coverlet global tool
        run: dotnet tool install --global coverlet.console

      - name: Restore dependencies
        run: dotnet restore Stella.Ergosfare.slnx

      - name: Run Unit & Coverage Tests
        shell: bash
        run: |
          dotnet test Stella.Ergosfare.slnx --settings coverlet.runsettings /p:CoverletOutput=./.coverage/coverage.cobertura.xml /p:MergeWith=""  --logger "trx;LogFileName=TestResults.trx"

      - name: Install Report Generator
        run: dotnet tool install --global dotnet-reportgenerator-globaltool

      - name: Merge coverage reports
        shell: bash
        run: reportgenerator -reports:./**/coverage.cobertura.xml -targetdir:./.coverage -reporttypes:Cobertura

      - name: Fail if coverage < 90%
        shell: bash
        run: |
          COVERAGE=$(grep -oP '(?<=line-rate=")[0-9.]+' ./.coverage/Cobertura.xml)
          echo "Total line coverage: $COVERAGE"
          COVERAGE_INT=$(echo "$COVERAGE * 100 / 1" | bc)
          if [ "$COVERAGE_INT" -lt 90 ]; then
            echo "Coverage $COVERAGE% is below 90%!"
            exit 1
          fi

      - uses: action-badges/create-orphan-branch@0.1.1
        with:
          branch-name: badges

      - name: Generate coverage badge
        uses: action-badges/cobertura-coverage-xml-badges@0.3.1
        with:
          coverage-file-name: ./.coverage/Cobertura.xml
